<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/css/tailwind.css" rel="stylesheet" />
    <script src="https://unpkg.com/lucide@latest"></script>
    
  </head>

  <body class="font-sans">
    <!-- Navigation -->
    <%- include('partials/navbar') %>

    <div
      id="chat-icon"
      class="fixed bottom-5 right-5 bg-blue-500 text-white rounded-full p-3 cursor-pointer shadow-lg z-40"
    >
      <i data-lucide="message-circle" class="w-6 h-6"></i>
    </div>

    <div
      id="chat-window"
      class="hidden fixed bottom-20 right-5 w-80 bg-white rounded-lg shadow-xl z-50"
    >
      <div class="bg-blue-500 text-white p-4 rounded-t-lg">
        <h3 class="font-bold">Tanya Mr Noid</h3>
      </div>
      <div id="chat-messages" class="h-80 overflow-y-auto p-4">
        <!-- Chat messages will be appended here -->
      </div>
      <div class="p-4 border-t">
        <input
          id="user-input"
          type="text"
          placeholder="Type your message..."
          class="w-full p-2 border rounded"
        />
        <button
          id="send-btn"
          class="mt-2 bg-blue-500 text-white px-4 py-2 rounded"
        >
          Send
        </button>
      </div>
    </div>

    <!-- Hero Section -->
    <div
      class="relative h-[500px] bg-cover bg-center"
      style="
        background-image: url('https://images.unsplash.com/photo-1655761940444-b666fd26f685?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-start p-12"
      >
        <h1 class="text-white text-5xl font-bold mb-4">
          Desa Wisata Leuwi Malang
        </h1>
        <p class="text-white text-xl mb-8 max-w-2xl">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        </p>
        <div class="space-x-4">
          <a
            class="bg-green-600 text-white px-6 py-3 rounded-full"
            href="/ulasan"
          >
            Beri Ulasan
          </a>
          <button class="bg-white text-green-700 px-6 py-3 rounded-full">
            Selengkapnya
          </button>
        </div>
      </div>
    </div>
    <div class="bg-yellow-500 text-white py-1"></div>
    <!-- Statistics -->
    <div class="bg-green-600 text-white py-8">
      <div class="container mx-auto flex justify-around">
        <div class="text-center">
          <div class="text-4xl font-bold">350+</div>
          <div>Pengunjung</div>
        </div>
        <div class="text-center">
          <div class="text-4xl font-bold"><%= total_ulasan %></div>
          <div>Ulasan</div>
        </div>
        <div class="text-center">
          <div class="text-4xl font-bold"><%= total_wisata %></div>
          <div>Jenis Wisata</div>
        </div>
        <div class="text-center">
          <div class="text-4xl font-bold"><%= total_produk %></div>
          <div>Produk</div>
        </div>
        <div class="text-center">
          <div class="text-4xl font-bold">5</div>
          <div>Paket Wisata</div>
        </div>
      </div>
    </div>

    <!-- About Us -->
    <div class="container mx-auto py-16 flex items-center p-4">
      <div class="w-1/2 pr-8">
        <img
          src="https://images.unsplash.com/photo-1620799180805-b4e4c568a245?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="About Us"
          class="rounded-lg shadow-lg"
        />
      </div>
      <div class="w-1/2">
        <h2 class="text-3xl font-bold text-green-700 mb-4">Tentang Kami</h2>
        <p class="text-gray-600 mb-4">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          Praesent pretium sed augue vel egestas.
        </p>
        <p class="text-gray-600">
          Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos.
        </p>
      </div>
    </div>

    <!-- Agrotourism -->
    <div class="bg-gray-100 py-16">
      <div class="container mx-auto">
        <h2 class="text-3xl font-bold text-green-700 mb-8 text-center">
          Agroturism
        </h2>
        <div class="flex justify-between">
          <% jenisWisata.forEach((jeniswisata) => { %>
          <div class="w-1/3 px-4">
            <img src="1/<%= jeniswisata.gambar %>" alt="Agrotourism" class="h-48
            w-full object-cover rounded-lg shadow-md mb-4 />
            <h3 class="text-xl font-semibold mb-2">
              <%= jeniswisata.nama_wisata %>
            </h3>
            <p class="text-gray-600"><%= jeniswisata.deskripsi %></p>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <!-- Latest Reviews -->
    <div class="container mx-auto py-16">
      <h2 class="text-3xl font-bold text-green-700 mb-8 text-center">
        Ulasan Terbaru
      </h2>
      <% if(dataUlasan.length > 0) {%>
      <div class="flex justify-between gap-6">
        <% dataUlasan.forEach((dataulasan) => { %>
        <div class="w-1/3 px-4 bg-white rounded-lg shadow-md p-6">
          <div class="flex items-center mb-4">
            <img
              src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Reviewer 1"
              class="w-12 h-12 rounded-full mr-4"
            />
            <div>
              <h3 class="font-semibold"><%= dataulasan.nama %></h3>
              <p class="text-gray-500 text-sm"><%= dataulasan.pekerjaan %></p>
            </div>
          </div>
          <p class="text-gray-600"><%= dataulasan.ulasan %></p>
        </div>
        <% }) %>
      </div>
      <% } else { %>
      <h1 class="text-2xl font-bold text-black-700 mb-4 text-center">
        Belum Ada Ulasan
      </h1>
      <% } %>
    </div>
    <div class="p-4 flex flex-col py-16 items-center bg-gray-100">
      <h2 class="text-3xl font-bold text-green-700 mb-8 text-center">
        Jelajahi Produk Kami
      </h2>
      <p class="text-lg text-gray-600 mb-6 text-center">
        Pindai QR code di bawah ini untuk mendapatkan informasi lengkap tentang
        produk, aktivitas, dan destinasi menarik di desa kami!
      </p>
      <!-- Button to Open Scanner -->
      <button
        id="openScannerButton"
        class="bg-gradient-to-r from-blue-500 to-indigo-600 hover:from-indigo-600 hover:to-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-all transform hover:scale-105 mb-4"
      >
        Buka Scanner Barcode
      </button>

      <!-- Modal -->
      <div
        id="scannerModal"
        class="fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center hidden"
      >
        <div
          class="relative w-full max-w-lg bg-white rounded-lg shadow-xl transform transition-all p-8"
        >
          <div class="text-center">
            <h3 class="text-2xl font-bold text-gray-800 mb-4">
              Scanner Barcode
            </h3>
            <div
              id="scanner-container"
              class="relative w-72 h-72 mx-auto bg-gray-100 rounded-lg shadow-md overflow-hidden"
            >
              <video
                id="video"
                class="absolute inset-0 w-full h-full object-cover rounded-lg"
              ></video>
              <div
                id="scanner-overlay"
                class="absolute inset-0 flex items-center justify-center pointer-events-none"
              >
                <div
                  class="w-48 h-48 border-2 border-blue-500 rounded-lg"
                ></div>
              </div>

              <!-- Corner markers with margins -->
              <div
                class="absolute top-3 left-3 w-6 h-6 border-t-2 border-l-2 border-blue-500"
              ></div>
              <div
                class="absolute top-3 right-3 w-6 h-6 border-t-2 border-r-2 border-blue-500"
              ></div>
              <div
                class="absolute bottom-3 left-3 w-6 h-6 border-b-2 border-l-2 border-blue-500"
              ></div>
              <div
                class="absolute bottom-3 right-3 w-6 h-6 border-b-2 border-r-2 border-blue-500"
              ></div>
            </div>

            <div
              id="result"
              class="mt-4 text-lg font-medium text-gray-600"
            ></div>

            <!-- Close Button -->
            <button
              id="closeScannerButton"
              class="mt-6 py-2 px-4 bg-red-500 text-white font-semibold rounded-md shadow-lg hover:bg-red-600 transition-all"
            >
              Tutup Scanner
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Gallery -->
    <div class=" py-16 p-4">
            <div class="container mx-auto">
              <h2 class="text-3xl font-bold text-green-700 mb-8 text-center">
                Galeri
              </h2>
              <div class="grid grid-cols-3 gap-4">
                <img
                  src="https://images.unsplash.com/photo-1677618164836-1af1646e4ab0?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 1"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
                <img
                  src="https://images.unsplash.com/photo-1541270691237-da75a9617329?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 2"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
                <img
                  src="https://images.unsplash.com/photo-1503521645102-f0c28f44ac17?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 3"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
                <img
                  src="https://images.unsplash.com/photo-1473448912268-2022ce9509d8?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 4"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
                <img
                  src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 5"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
                <img
                  src="https://images.unsplash.com/reserve/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Gallery 6"
                  class="w-full h-64 object-cover rounded-lg shadow-md"
                />
              </div>
            </div>
          </div>
          
          <!-- Footer -->
          <%- include('partials/footer') %>

<script src="/js/scanqr.js"></script>
<script src="/js/chat.js"></script>
    <script src="https://unpkg.com/@zxing/library@latest"></script>
  </body>
</html>
